@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --mainclr: #c3e7f5;
    --secondclr:linear-gradient(to right, #ff7e5f, #feb47b);;
}
*{
    margin: 0;
    padding: 0;
    transition: all .2s;
    text-transform: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
header {
    background-color: #3498db;;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #3498db;;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #555;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    color: #333; /* Set color as desired */
    font-size: 4.2rem; /* Adjust font size as needed */
    margin-right: 20px; /* Adjust margin as needed */
    font-weight: bold;
    display: flex;
    text-decoration: underline;
}

.scroll-container {
    width: 90%;
    overflow: hidden;
    position: relative;
    height: 400px; /* Adjust the height as needed */
    margin: 5px auto;
  }

  .image-container {
    display: flex;
    height: 100%; /* Adjusted height to ensure images fit properly */
    width: auto;
    transition: transform 1s ease-in-out; /* Adjust the duration as needed */
  }

  .image-container img {
    flex: 0 0 auto;
    height: auto; /* Ensure images fill the entire height of the container */
    width: 350px;
    object-fit: cover; /* Ensures images maintain aspect ratio while filling the container */
    transition: transform 0.3s; /* Smooth transition for zoom effect */
    cursor: pointer;
  }

  .image-container img:hover {
    transform: scale(1.1); /* Zoom in effect on hover */
  }

  .nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .nav-buttons button:hover {
    background-color: #555;
  }

  /* Modal */
  .modal {
    display: none; /* Hide modal by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }

  .modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* Close button */
  .close {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

.back{
    padding: 3rem 7%;
}
.mian-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0%;
}
.inner-home{
    flex: 1 1 45rem;
    text-align: center;
}
.inner-home img{
    width: 80%;
    height: 580px;
    border-radius: 10%;
    padding-left: 10px;
}
.inner-content h1{
    font-size: 5em;
    opacity: 0;
    animation: fadeInUp 1s forwards;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inner-content h1:hover {
    color: #009688;
}
.inner-content p{
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
    padding: 0 6rem;
    line-height: 1.5;
}
.inner-content a{
    padding: 1rem 4rem;
    background: #1dc7f5;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
}

.inner-content a:hover{
    color: #333;
    transition: color 0.3s ease;
}

/* Style the dropdown button */
.dropbtn {
    background-color: #3498db;
    color: #333;
    padding: auto;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.our-classes{
    padding: 6rem 7%;
    background: var(--mainclr);
    margin-top: 5%;
}
.our-classes h1{
    text-align: center;
    color: rgb(12, 11, 11);
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: none;
    text-decoration: underline;
}

#about-section,
#classes-section,
#contact-section {
    padding: 50px;
    background-color: var(--mainclr);
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

#about-section p{
    text-align: center;
    color: rgb(12, 11, 11);
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: none;
}

.class-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

#yoga-pose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 30px; /* Adjust the gap between images */
    margin: 20px auto; /* Center the grid on the page */
}

.yoga-pose-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.main-class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 50%;

}
.inner-class{
    flex: 1 1 300px;
    text-align: center;
}
.inner-class img{
 width: 90%;
 border-radius: 50%;
}
.class-content h2{
    color: white;
    font-size: 25px;
    margin: 20px 0;
}
.class-content p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.class-content a{
    background: white;
    font-size: 1.5rem;
    color: black;
    border-radius: 15px;
    padding: 1rem 3rem;
    margin: 15px 0;
}
.our-instructor{
    padding: 4rem 7%;
    background-color: var(--secondclr);
   
}
.our-instructor h1{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    text-decoration: underline;
}
.main-instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-instructor{
    flex: 1 1 45rem;
}
.inner-instructor img{
    width: 100%;
}
.inner-content-instructor{
    width: 80%;
    margin: 0 auto;
}
.inner-content-instructor h2{
    font-size: 60px;
    color: black;
}
.inner-content-instructor p{
    color: black;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 20px;
}
.inner-content-instructor a{
    color: black;
    background: var(--mainclr);
    padding: 1rem 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
}


.our-gallery{
    padding: 4rem 7%;
    background: var(--mainclr);
}
.our-gallery h1{
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery img{
    width: 100%;
    height: 300px;
    object-fit: cover;
   transition: 1s;
   border-radius: 50%;
}
.inner-gallery img:hover{
    transform: scale(1.1) rotate(20deg);
    border-radius: 15px;
}
.our-prices{
    padding: 5rem 7%;
    background: var(--secondclr);
}
.our-prices h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.main-prices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}
.inner-prices{
    flex: 1 1 300px;
    padding: 4rem 1rem;
    background: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
}
.inner-prices h2{
    font-size: 25px;
    color: #58A4D6;
    margin-bottom: 15px;
}
.inner-prices h3{
    font-size: 20px;
    color: #58A4D6;
    margin-bottom: 15px;
}
.price-icon i{
    font-size:80px;
    margin-bottom: 25px;
    color: #58A4D6;
}
.inner-prices a{
    padding: 1rem 3rem;
    background: #ff6f61;
    font-size: 1.5rem;
    color: black;
    border-radius: 15px;
}

.contact-us{
    padding: 2rem 7%;
    background: #58A4D6;
}
.main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.inner-contact{
    flex: 1 1 45rem;
}
.inner-contact h1{
    font-size: 50px;
    color: black;
    padding: 5px 5px;

}

.services-dropdown {
    position: relative;
    display: inline-block;
}
.services-dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    z-index: 1;
}
.services-dropdown-content a {
    color: #fff;
    padding: 10px;
    display: block;
    text-align: left;
}
.services-dropdown:hover .services-dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10%;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 10px;
        font-size: 40px;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        text-align: center;
    }

    .navbar a {
        margin: 0;
        font-size: 5.5rem;
        width: 120%;
    }
    
    /* Add underline on hover */
    .navbar a:hover {
        color: #ff6f61; /* Change text color on hover */
        /* Add underline effect */
        text-decoration: none;
    }
    
    .navbar a:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120%;
        height: 2px; /* Adjust underline thickness as needed */
        background-color: #ff6f61; /* Set underline color */
    }
    
    .navbar a:hover:after {
        width: 120%;
        color: orange;
    }
    .navbar.active{
        top: 120%;
    }

    .dropbtn {
        background-color: #3498db;
        color: #333;
        padding: 0px;
        font-size: 6rem;
        font-weight: bold;
        border: none;
    }

    .our-classes{
        padding: 1rem 1%;
        background: var(--mainclr);
        width: 120%;
        margin-top: 5%;
        margin-right: 0%;
    }

    .inner-home img {
        height: 300px;
        width: 250px;
        border-radius: 10%;
    }

    .inner-home h1 {
        font-size: 35px;
    }

    .inner-home p {
        font-size: 10px;
    }

    .inner-home a {
        font-size: 10px;
    }

    .inner-content-instructor h2{
        font-size: 30px;
        color: black;
    }
    .inner-content-instructor p{
        color: black;
        font-size: 6.5rem;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .yoga-pose-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Two columns */
        gap: 30px; /* Adjust the gap between images */
        margin: 20px auto; /* Center the grid on the page */
    }

    .main-gallery {
        gap: 5px;
    }

    .inner-gallery img:hover {
        transform: scale(1.1) rotate(0deg); /* Reset rotation */
        border-radius: 50%; /* Reset border-radius */
    }

    .main-prices {
        gap: 20px;
    }

    .inner-prices {
        padding: 2rem 1rem;
    }

    .inner-contact h1 {
        font-size: 30px;
        padding: 0;
    }

    .social-button {
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}


.social-media {
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.social-button {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px; /* Center the icon vertically */
}

.social-button:hover {
    transform: scale(1.2);
}

.social-button-youtube:hover {
    background-color: #FF0000; /* YouTube color */
}

.social-button-instagram:hover {
    background-color: #E4405F; /* Instagram color */
}

.social-button-facebook:hover {
    background-color: #3b5998; /* Facebook color */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

